/*-- scss:defaults --*/
$primary-color: #6C63FF;
$secondary-color: #9E9FF7;
$tertiary-color: lighten($secondary-color, 15%);
$accent-color: #FFC107;
$theme-white: #fff;
$theme-black: #000;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif;


$presentation-heading-color: $theme-white;
$body-color: $primary-color;
$link-color: $secondary-color; 
$selected-text-color: $secondary-color;
$code-color: $accent-color;
$code-block-bg: $tertiary-color;

/*-- scss:rules --*/

@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}    

.footer {
  p {
    color: $secondary-color;
  }
  a {
    color: lighten($link-color, 15%);
  }
  a:hover {
    color: lighten($link-color, 25%);
  }
}

.theme-slide1 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide1.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-slide2 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide2.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-slide3 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide3.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-slide4 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide4.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-slide5 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide5.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-slide6 {
  position: relative;
  z-index: 0;
  
  h2 {
    color: $secondary-color;
  }

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('slide6.png');
      @include background-full;
      opacity: 0.2;
      z-index: -1;
    }
  }
}

.theme-section1 {
  position: relative;
  z-index: 0;

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('section1.png');
      @include background-full;
      opacity: 0.8;
      z-index: -1;
    }
  }
}

.theme-section2 {
  position: relative;
  z-index: 0;

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('section2.png');
      @include background-full;
      opacity: 0.8;
      z-index: -1;
    }
  }
}

.theme-section3 {
  position: relative;
  z-index: 0;

  &:is(.slide-background) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('section3.png');
      @include background-full;
      opacity: 0.8;
      z-index: -1;
    }
  }
}

